/* src/scss/schedule/_datepicker-overrides.scss */
@use '../variables' as *;

/* Global Font for Datepicker */
.dp__menu,
.dp__cell_inner {
  font-family: $font-family-base;
}

.dp__cell_inner {
  font-size: 14px;
  color: #000;
  font-style: normal;
  font-weight: 400;

  &.dp__cell_disabled {
    color: #ccc;
  }
}

.dp__range_start,
.dp__range_end {
  background: #F2F6FC;
  border-radius: 2px;
  border: 1px solid #B7CCF0;
  color: #0C449F;
  font-weight: 700;
}

.dp__range_between_week {
  background: #F2F6FC;
  border: 0;
  border-radius: 0;
}

.dp__cell_offset {
  color: #ccc;
}

.dp__calendar_header_item {
  font-size: 12px;
  color: #B0B0B0;
  font-weight: 400;
}

.dp__month_year_select {
  width: auto !important;
}

.dp__month_year_wrap {
  color: #000;
  justify-content: center;

  /* 내부 버튼이나 텍스트에도 강제 적용 */
  .dp__btn {
    font-size: 14px;
    font-weight: 600;
    color: #000;
  }

  /* 화살표 버튼 커스텀 (얇게) */
  .dp--arrow-btn-nav {
    /* 기존 SVG 숨김 */
    .dp__inner_nav,
    .dp__icon {
      display: none;
    }

    /* 커스텀 화살표 (Border 방식) */
    &::after {
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      border-top: 1.5px solid #000;
      border-right: 1.5px solid #000;
      /* 공통 transform 제거 -> 개별 적용 */
    }
  }

  /* Prev (왼쪽) */
  .dp--arrow-btn-nav:first-of-type::after {
    transform: rotate(225deg);
    margin-left: 4px;
  }

  /* Next (오른쪽) */
  .dp--arrow-btn-nav:last-of-type::after {
    transform: rotate(45deg);
    margin-left: -2px;
  }
}